:root {
  --white: #fff;
  --black: #000;
  --grey: #f4f5f9;
  --drak-grey: #6d6d6d;
  --primary: #ff6c11;
  --primary-light: #ffecd4;
  --grey-lable: #1a1a1a;
  --table-head: #e9ebf3;
  --success: #68c361;
  --success-light: #e4f6e2;
  --error: #e15959;
  --error-light: #fce4e4;
}
