@import "color.css";
/* ========================================================= ANT CSS =======================================================  */

.ant-btn-primary {
  color: var(--white);
  background-color: var(--primary) !important;

  padding: 0 10px;
}

.ant-btn-primary:disabled {
  color: var(--white);
  background-color: #c4c4c4 !important;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

.ant-btn-background-ghost {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.ant-btn-icon-only {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-input-search-button {
  background-color: var(--white);
}

.ant-badge.ant-badge-status .ant-badge-status-dot {
  width: 10px;
  height: 10px;
}

.gray-menu .ant-menu-light .ant-menu-item-selected,
.gray-menu
  .ant-menu-light:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  background: var(--primary-light);
  color: var(--primary);
  border-color: var(--primary);
}

.gray-menu .ant-menu .ant-menu-item .ant-menu-item-icon {
  background-color: var(--white);
  padding: 5px;
  border-radius: 5px;
  color: var(--drak-grey);
  font-size: 25px;
}

.gray-menu .ant-menu-light .ant-menu-item-selected .ant-menu-item-icon {
  background-color: inherit;
  color: var(--primary);
}

.gray-menu .ant-menu-light {
  background: var(--grey) !important;
}

.ant-btn:not(:disabled):focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 1px;
}
.ant-card .ant-card-body {
  padding: 10px;
  width: 100%;
}
.ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--primary);
  background: transparent;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--black);
}
.ant-tabs .ant-tabs-tab .ant-tabs-tab-btn {
  color: var(--drak-grey);
  font-family: var(--font-noto);
}
.ant-form-item-label,
.ant-select-selection-placeholder,
.ant-input,
.ant-btn > span,
.ant-segmented-item-label,
.ant-select-item-option-content,
.ant-picker-dropdown .ant-picker-header button,
.ant-picker-dropdown .ant-picker-content th,
.ant-picker-cell-inner,
.ant-modal-title {
  font-family: var(--font-noto);
}
:where(.css-dev-only-do-not-override-1kuana8).ant-btn-default:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  color: var(--primary);
  border-color: var(--primary);
}
.ant-modal-footer .ant-btn {
  width: 150px;
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-switch.ant-switch-checked {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.ant-segmented .ant-segmented-item-selected {
  background-color: var(--primary) !important;
  color: var(--white);
}
.assigned-confirm-modal .ant-modal-footer .ant-btn {
  width: 120px !important;
}
.ant-layout-content,
.ant-input-group
  .ant-input-group-addon
  .ant-select-focused
  .ant-select-selector {
  color: var(--grey-lable);
}
.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  color: var(--primary);
}
.switch-success .ant-switch.ant-switch-checked {
  background-color: var(--success) !important;
  border-color: var(--success) !important;
}
.ant-table-footer {
  padding: 8px;
  background-color: var(--white) !important;
}
/* ========================================================= ANT CSS =======================================================  */
