@tailwind base;
@tailwind components;
@tailwind utilities;
@import "color.css";
@import "customAnt.css";
@import "style.css";

:root,
html {
  font-family: "Noto Sans Thai";
}

body {
  font-family: "Noto Sans Thai";
  background: var(--grey);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
