@tailwind base;
@tailwind components;
@tailwind utilities;
@import "color.css";
@import "customAnt.css";
@import "style.css";

:root,
html {
  font-family: var(--font-noto), cursive;
}

body {
  /* ... */
  font-family: var(--font-noto), cursive;
  background: var(--grey);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
